<div class="event">
    <div class="status {{statusLevel}}">&nbsp;</div>
    {{#with series}}
    <a href="{{route .}}">
        <h4>{{title}}</h4>
    </a>
    {{/with}}
    <p>
      {{StartTime airDateUtc}}
      <span class="pull-right">{{seasonNumber}}x{{Pad2 episodeNumber}}</span>
    </p>
    <p>
        <span class="episode-title x-episode-title">{{title}}</span>
    </p>
</div>
