<div class="episode-info">
    {{#with series}}
        {{profile profileId}}
        <span class="label label-info">{{network}}</span>
    {{/with}}
    <span class="label label-info">{{startTime airDateUtc}}</span>
    <span class="label label-info">{{relativeDate airDateUtc}}</span>
</div>

<div class="episode-overview">
    {{overview}}
</div>

<div class="episode-file-info"></div>
