<td>{{eventType}}</td>
<td>{{> ../../Series/seriesTitlePartial.hbs series}}</td>
<td>{{episode.seasonNumber}}x{{episode.episodeNumber}}</td>
<td class="x-episode-title">{{episodeTitle episode}}</td>
<td>{{historyQuality quality}}</td>
<td>{{relativeDate date}}</td>
<td><i class="icon-sonarr-info clickable x-details"></i></td>
