<td class="status-col">
  {{#if monitored}}
    <i class="icon-sonarr-monitored" title="Monitored"></i>
  {{else}}
    <i class="icon-sonarr-unmonitored" title="Not Monitored"></i>
  {{/if}}
  {{#if ended}}
    <i class="icon-sonarr-series-ended" title="Ended"></i>
  {{else}}
    <i class="icon-sonarr-series-continuing" title="Continuing"></i>
  {{/if}}
</td>
<td class="title-col">
  {{title}}
</td>
<td class="network">
  {{network}}
</td>
<td class="profile">
  {{profileName profileId}}
</td>
<td class="next">
  {{relativeTime nextAiring}}
</td>
<td class="previous">
  {{relativeTime previousAiring}}
</td>
<td class="seasons">
  {{seasons.length}}
</td>
<td class="episodes">
  {{episodeCount}}
</td>
<td class="actions">
  ...
</td>
