<div class="progress progress-xs episode-progress">
    <span class="progressbar-back-text">{{episodeFileCount}} / {{episodeCount}}</span>
    <div class="progress-bar {{episodeProgressClass}} episode-progress" style="width:{{percentOfEpisodes}}%"><span class="progressbar-front-text">{{episodeFileCount}} / {{episodeCount}}</span></div>
</div>
