<li class="import-search">
  <div class="input-group">
    <div class="input-group-addon"><i class="icon-sonarr-search"></i></div>
    <input type="text" class="import-search-input form-control x-search-input" placeholder="{{name}}" value="{{searchTerm}}">
  </div>
</li>
<li class="spinner">
  <div class="spinner-small">
    {{> ../../Shared/LoadingPartial}}
  </div>
</li>
{{#if suggestions}}
  {{#each suggestions}}
    <li class="suggestion x-suggestion" data-tvdbid= {{tvdbId}}>
      <a>
          {{title}} {{#if added}}(Existing){{/if}}
          {{#if year}}<span class="label label-default">{{year}}</span>{{/if}}
          {{#if network}}<span class="label label-default">{{network}}</span>{{/if}}
        </a>
    </li>
  {{/each}}
{{else}}
  <li class="suggestion">
    <a class="disabled">
      <i class="icon-sonarr-warning"></i> No match found for '{{searchTerm}}'
    </a>
  </li>
{{/if}}
