{{#if episodesToRename}}
  {{#if rename}}
    <div class="alert alert-info">
      <div>
        All paths are relative to: <strong>{{path}}</strong>
      </div>
      <div>
        Naming pattern: {{format}}
      </div>
    </div>
  {{else}}
    <div class="alert alert-warning">
      <div>
        All paths are relative to: <strong>{{path}}</strong>
      </div>
      <div>
        Renaming is disabled, files listed below are in the wrong season folder.
      </div>
      <div>
        Season folder format: {{seasonFormat}}
      </div>
    </div>
  {{/if}}
{{/if}}

