<nav class="sidebar scrollbar">
  <ul class="nav">
    {{#each .}}
      <li class="x-nav-root">
        <a href="{{UrlBase}}{{href}}">
          <em class="icon-sonarr-navbar-icon icon-sonarr-navbar-{{icon}}"></em>
          <span class="title">{{title}}</span>

          {{#if notification}}
            <span class="pull-right {{notification}} x-{{notification}} {{#notificationHideActive}}hide-active{{/notificationHideActive}}"></span>
          {{/if}}
        </a>

        {{#if items}}
          <ul class="x-nav-sub nav sidebar-subnav collapse">
            {{#each items}}
              <li class="x-nav-child">
                <a href="{{UrlBase}}{{href}}">
                  <span class="title">{{title}}</span>

                  {{#if notification}}
                    <span class="pull-right {{notification}} x-{{notification}}"></span>
                  {{/if}}
                </a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>
